@font-face{
  font-family: 'Ramona';
  src: url("../../public/fonts/Ramona-Light.ttf");
  font-weight: 400;
}

@font-face{
  font-family: 'Ramona';
  src: url("../../public/fonts/Ramona-Bold.ttf");
  font-weight: 800;
}